<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            align-items: center;
            background-color: blanchedalmond;
            justify-content: center;
            display: flex;
            min-height: 100vh;
        }
        .form {
            padding: 50px;
            background-color: wheat;
            border-radius: 3%;
            box-shadow: 10px 8px 10px 10px gray;
        }
        .campo {
            margin-bottom: 10px;
        }
        .botoes {
            padding: 2px 10px;
            background-color: aliceblue;
            border: none;
            box-shadow: 2px 1px 2px 2px gray;
            cursor: pointer;
            font-weight: bold;
            border-radius: 3px;
            margin: 2px 4px;
        }
        .links {
            padding: 2px 10px;
            background-color: aliceblue;
            border: none;
            box-shadow: 2px 1px 2px 2px gray;
            font-weight: 600;
            border-radius: 3px;
            display: inline-block;
            text-decoration: none;
            color: black;
            font-size: 13.9px;
        }
        .centralizarTexto {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <form method="post" action="/esqueciSenha" class="form">
            <div class="centralizarTexto">
                <h1>Recuperação de Senha</h1>
            </div>
            <div class="campo">
                <label>E-mail:</label>
                <input type="text" name="email" id="email">
                <div>
                    <% if(typeof msg !== "undefined") { %>
                        <p style="color: <%= tipo === 'sucesso' ? 'green' : 'red' %>;">
                            <%= msg %>
                        </p>
                    <% } %>
                </div>
            </div>
            <div>
                <button class="botoes">Enviar código verificação</button>
                <a class="links" href="/">Voltar</a>
            </div>
        </form>
    </div>
</body>
</html>